<ul class="nav nav-sidebar">
    <li class="active"><a href="@Url.Action("Index", "Html5")">Html5 <span class="sr-only">(current)</span></a></li>
    <li>@Html.ActionLink("WebSocket", "WsView", "Html5")</li>
    <li class="active"><a href="@Url.Action("Index", "Pdf")">Pdf <span class="sr-only">(current)</span></a></li>
</ul>